*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Khumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.navbar {
    background: #e8e8e8;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container{
    display: flex;
    justify-self: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items:  center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    position: absolute;
    left: 950px;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover{
    color: #9518fc;
    transition: all 0.3s ease;
}

/* ------------------ HERO SECTION -------------------- */

.hero {
    background-image: url('IMG/hero__img.webp');
    padding: 200px 0;
}

.hero__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
    background-color: rgb(202, 202, 202, 85%);
}

.hero__heading{
    font-size: 100px;
    margin-bottom: 24px;
    color: rgb(13, 13, 13);
}

.hero__heading span{
    background: #ee0979;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.hero__description{
    font-size: 60px;
    background-size: 100%;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
}

.highlight {
    border-bottom: 4px solid rgb(132, 0 , 255);
}

/* ------------------ ABOUT SECTION -------------------- */

.about {
    background: rgb(194, 194, 194);
    padding: 10rem, 0;
    max-height: 800px;
    width: 100%;
    height: 100%;
}

.main__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 25px 50px;
    column-gap: 80px;
}

.about__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #fff;
    width: 600px;
    height: 700px;
    padding: 5px;
    border: none;
} 

.about__heading {
    font-size: 3.5rem;
    background-size: 100%;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    padding: 0 25px 0 25px;
}

.about__paragraph {
    font-size: 1.5rem;
    background-size: 100%;
    background: rgb(61, 61, 61);
    color: rgb(61, 61, 61);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    padding: 25px;
}

.about__img {
    background-image: url(IMG/about__img.jpeg);
    width: 900px;
    height: 700px;
}

/* ACtivities */
.activities {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(194, 194, 194);
    flex-direction: column;
}

.activities__title{
    font-size: 4rem;
    background-size: 100%;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    margin: 0 50px 0 50px;
}

.slideshow__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 1300px;
    margin: auto;
  }

.slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 900px;
    background: rgb(231, 231, 231);
}

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #00646d;
    font-weight: bold;
    font-size: 2rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin: 0 25px;
  }

  .next {
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    color: rgba(0,0,0,0.8);
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.slide__heading {
    font-size: 2rem;
}

.slide img{
    object-fit: contain;
    height: 300px;
    width: 800px;
    margin: 25px 50px;
}

.slide__heading{
    align-self: center;
    justify-self: center;
    font-size: 3rem;
    background-size: 100%;
    color: #000046;
    background-color: #000046;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    padding: 25px;
    margin: 5px 300px;
}
.slide__content{
    font-size: 1.5rem;
    background-size: 100%;
    background: rgb(43, 43, 43);
    color: rgb(43, 43, 43);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; 
    padding: 25px;
}